<md-toolbar color="primary">
  <span>My Toolbar</span>
  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item>
  <md-icon>dialpad</md-icon>
  <span>Redial</span>
</button>
  <button md-menu-item disabled>
  <md-icon>voicemail</md-icon>
  <span>Check voicemail</span>
</button>
  <button md-menu-item>
  <md-icon>notifications_off</md-icon>
  <span>Disable alerts</span>
</button>
</md-menu>

<!-- <md-input-container>
  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker></md-datepicker> -->

<md-input-container>
  <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container>

<md-input-container>
  <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker></md-datepicker>

<md-card *ngFor="let data of (myData ? myData.slice(0,10) : []); let i = index">
  <md-card-header>
    <md-card-title>{{data.title}}</md-card-title>
    <md-card-subtitle>Awesome</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{data.url}}">
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
  <md-card-content>
    <hr/>
  </md-card-content>
</md-card>